<table class="board">
	<tr *ngFor="let column of board">
		<td *ngFor="let tile of column">
            <div class="board-tile" [ngStyle]="{'width':  getFontSize() + 3 + 'vmin', 'height':  getFontSize() + 3 + 'vmin'}">
                <div [@appearance]="'in'">
                    <wordio-tile [value]="tile.value" 
                                [fontSize]="getFontSize() + 'vmin'"
                                (onSelectedChange)="onTileSelect(tile, $event)">
                    </wordio-tile>
                </div>
            </div>
		</td>
	</tr>
</table>
