@mixin square-node($width) {
    width: $width;
    height: $width;
}

.wordio {

    .index-column {
        float: left;
        flex: 1;
        margin-left: 1vw;
    }
    
    .loader:before {
        content: "Loading...";
    }

    .board {
        .tile { 
            @include square-node(100%);
            border: 1px solid;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;

            .content {
                font-size: 7vmin;
            }
        }

        .board-tile {
            @include square-node(10vmin);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .new-game {
        .tile {
            .content {
                font-size: 5vmin;
            }
        }

        .board-tile {
            @include square-node(7vmin);
        }
    }

    .header {
        height: 10vh;
        width: 100vw;
    }
}
