<div class="row">
    <div class="col-md-6">
        <wordio-board [board]="board" (onTileSelect)="onTileSelect($event)"></wordio-board>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">{{'COLUMNS' | translate}}</span>
            <input class="form-control" type="number" name="columns" [(ngModel)]="columns">
        </div>
        <div class="input-group">
            <span class="input-group-addon">{{'ROWS' | translate}}</span>
            <input class="form-control" type="number" name="rows" [(ngModel)]="rows">
        </div>
        <div>
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="onHashChange()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </span>
            <textarea name="" class="form-control" [(ngModel)]="boardHash"></textarea>
        </div>
    </div>
</div>
